<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p>Dear {{ firstname }},</p>

    <p>Welcome back to <b>UrbanBazzar</b>! We're glad to see you again. 😊</p>

    <p>
      Your login was successful, and you can now continue exploring our latest products and exclusive deals.
    </p>

    <p>Happy Shopping!</p>

    <p>
      Best Regards,<br />
      <b>The UrbanBazzar Team</b>
    </p>
  </body>
</html>
